#woocommerce-product-data ul.wc-tabs li.smartcut_options {
  background-color: #ffd166;
}
#woocommerce-product-data ul.wc-tabs li.smartcut_options a {
  display: flex;
  align-items: center;
}
#woocommerce-product-data ul.wc-tabs li.smartcut_options a::before {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' fill='rgb(7,59,76)'%3E%3Cpath d='M46.5 292.6L2 256.5l3.2-25.6-2.4-2.4 1.4-6.2s3.8 2.1 7.6 4.1c3.8 2 7.6 3.9 7.6 3.9l-.9 4.5s12.6 13.5 26.8 3.4c7.7-5.5 1.2-19.5 1.2-19.5L17.1 169.6l11.8-23-1.4-3 3.5-5.4s2.8 3.3 5.7 6.5c2.9 3.2 5.8 6.3 5.8 6.3l-2.3 3.9s7.2 17 24.1 12.4c9.2-2.5 7.8-17.9 7.8-17.9L61.1 93.1 80 75.5l-.3-3.3 5.1-3.9s1.5 4.1 3.2 8c1.6 4 3.3 7.9 3.3 7.9l-3.6 2.9s1 18.5 18.4 19.9c9.4 .8 13.4-14.1 13.4-14.1l9-56.6 23.8-10 .8-3.2 6.1-1.9s.1 4.3 .2 8.6c.2 4.3 .4 8.6 .4 8.6l-4.3 1.5s-5.4 17.7 10.5 25c8.6 3.9 17.5-8.7 17.5-8.7L211.4 5.9l25.8-1.3 1.9-2.8 6.4 .3s-1.4 4.1-2.7 8.2s-2.5 8.2-2.5 8.2l-4.6-.1s-11.1 14.8 1.3 27c6.8 6.6 19.4-2.2 19.4-2.2L299.6 5.7l24.7 7.6 2.8-1.9 5.9 2.4s-2.7 3.4-5.3 6.8c-2.7 3.4-5.2 6.8-5.2 6.8l-4.3-1.6s-15.5 10.1-8 25.9c4.1 8.5 18.9 4.6 18.9 4.6l53.5-20.5 20.6 15.6 3.2-.9 4.7 4.3s-3.7 2.2-7.3 4.5c-3.6 2.3-7.2 4.6-7.2 4.6l-3.5-3s-18 4.2-16.4 21.6c.9 9.4 16.2 10.8 16.2 10.8l57.3-1 14 21.7 3.3 .3 3 5.7s-4.3 .8-8.4 1.7c-4.2 .9-8.4 1.9-8.4 1.9l-2.2-4s-18.4-2.2-22.8 14.7c-2.4 9.2 11.6 15.7 11.6 15.7l54.2 18.7 5.8 25.2 3 1.4 .8 6.3s-4.3-.7-8.5-1.3s-8.5-1.1-8.5-1.1l-.7-4.5s-16.5-8.4-26.4 6c-5.4 7.8 5.5 18.7 5.5 18.7L510 255.5l-3.2 25.6 2.4 2.4-1.4 6.2s-3.8-2.1-7.6-4.1c-3.8-2-7.6-3.9-7.6-3.9l.9-4.5s-12.6-13.5-26.8-3.4c-7.7 5.5-1.2 19.5-1.2 19.5l29.5 49.1-11.8 23 1.4 3-3.5 5.4s-2.8-3.3-5.7-6.5c-2.9-3.2-5.8-6.3-5.8-6.3l2.3-3.9s-7.2-17-24.1-12.4c-9.2 2.5-7.8 17.9-7.8 17.9l10.9 56.2L432 436.5l.3 3.3-5.1 3.9s-1.5-4.1-3.2-8c-1.6-4-3.3-7.9-3.3-7.9l3.6-2.9s-1-18.5-18.4-19.9c-9.4-.8-13.4 14.1-13.4 14.1l-9 56.6-23.8 10-.8 3.2-6.1 1.9s-.1-4.3-.2-8.6c-.2-4.3-.4-8.6-.4-8.6l4.3-1.5s5.4-17.7-10.5-25c-8.6-3.9-17.5 8.7-17.5 8.7l-27.8 50.1-25.8 1.3-1.9 2.8-6.4-.3s1.4-4.1 2.7-8.2s2.5-8.2 2.5-8.2l4.6 .1s11.1-14.8-1.3-27c-6.8-6.6-19.4 2.2-19.4 2.2l-43.2 37.6-24.7-7.6-2.8 1.9-5.9-2.4s2.7-3.4 5.3-6.8c2.7-3.4 5.2-6.8 5.2-6.8l4.3 1.6s15.5-10.1 8-25.9c-4.1-8.5-18.9-4.6-18.9-4.6l-53.5 20.5-20.6-15.6-3.2 .9-4.7-4.3s3.7-2.2 7.3-4.5c3.6-2.3 7.2-4.6 7.2-4.6l3.5 3s18-4.2 16.4-21.6c-.9-9.4-16.2-10.8-16.2-10.8l-57.3 1L47.7 398l-3.3-.3-3-5.7s4.3-.8 8.4-1.7c4.2-.9 8.4-1.9 8.4-1.9l2.2 4s18.4 2.2 22.8-14.7c2.4-9.2-11.6-15.7-11.6-15.7L17.5 343.4l-5.8-25.2-3-1.4-.8-6.3s4.3 .7 8.5 1.3s8.5 1.1 8.5 1.1l.7 4.5s16.5 8.4 26.4-6c5.4-7.8-5.5-18.7-5.5-18.7zM256 213.6a42.4 42.4 0 1 0 0 84.7 42.4 42.4 0 1 0 0-84.7z'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  content: "";
  display: block;
  width: 18px;
  height: 18px;
}

#smartcut-product-options .form-field label,
#smartcut-formula-options .form-field label {
  padding-right: 10px;
}
#smartcut-product-options #smartcut-formula-json-file-name,
#smartcut-formula-options #smartcut-formula-json-file-name {
  margin-top: 10px;
}

.smartcut-tools p {
  font-size: 16px;
}
.smartcut-tools span.warning {
  color: red;
  font-weight: bold;
  font-size: 18px;
  margin-right: 5px;
}

.smartcut-table {
  font-size: 16px;
  width: 100%;
}
.smartcut-table td {
  padding: 5px;
  line-height: 1.4;
}
